{% extends 'servicos/base.html' %}
{% block title %}Página Inicial{% endblock %}

{% block content %}

<div class="text-center">
    <h1 class="mb-4">Bem-vindo ao Sistema Laboral</h1>
    <div class="row justify-content-center g-4">

        <div class="col-md-5">
            <div class="card text-dark p-4">
                <h4><i class="bi bi-book"></i> Consulta da Legislação</h4>
                <a href="{% url 'legislacao' %}" class="btn btn-custom text-white mt-3 w-100">
                    Aceder
                </a>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card text-dark p-4">
                <h4><i class="bi bi-calculator"></i> Cálculos Laborais</h4>
                <a href="{% url 'calculos' %}" class="btn btn-custom text-white mt-3 w-100">
                    Aceder
                </a>
            </div>
        </div>

    </div>
</div>

{% endblock %}
